{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'home_page/css/main.css' %}" />
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <nav class="sidebar">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="{% static 'home_page/img/logo.svg' %}" alt="" />
        </span>

        <div class="text logo-text">
          <span class="name"></span>
          <span class="profession"></span>
        </div>
      </div>
    </header>
    <!-- ./header -->

    <div class="menu-bar">
      <div class="menu">
        <ul class="menu-links">
          <li class="nav-link">
            <a href="#">
              <i class="bx bx-home-alt icon"></i>
              <span class="tooltip-text">Home</span>
            </a>
          </li>
          <!-- ./nav-link -->
          <li class="nav-link">
            <a href="#">
              <i class="bx bx-message-alt icon"></i>
              <span class="tooltip-text">Messanger</span>
            </a>
          </li>
        </ul>
        <!-- ./menu-links -->
      </div>
      <!-- ./menu -->

      <div class="bottom-content">
        <li class="">
          <a href="#">
            <i class="bx bx-log-out icon"></i>
            <span class="tooltip-text">Log out</span>
          </a>
        </li>

        <li class="mode">
          <div class="sun-moon">
            <i class="bx bx-moon icon moon"></i>
            <i class="bx bx-sun icon sun"></i>
          </div>

          <div class="toggle-switch">
            <span class="switch"></span>
          </div>
        </li>
        <!-- ./mode -->
      </div>
      <!-- ./botton-content -->
    </div>
    <!-- ./menu-bar -->
  </nav>
  <!-- ./sidebar-close -->


  <script>
    const body = document.querySelector("body"),
      modeSwitch = body.querySelector(".toggle-switch");
    modeSwitch.addEventListener("click", () => {
      body.classList.toggle("dark");

    });
  </script>

    <div class="container">{% block content %} {% endblock %}</div>

  <footer>
    <div class="footer">
      <div class="row">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </div>

      <div class="row">
        <ul>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Our Services</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Career</a></li>
        </ul>
      </div>

      <div class="row">
        INFERNO Copyright © 2021 Inferno - All rights reserved ||
        Designed By: Mahesh
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</body>

</html>